@use "sass:map";

$color-info: #f45a40;

$base-colors: (
    "base-blue": rgba(201, 229, 255, 0.4),
    "pink-btn" : rgba(255, 184, 218, 0.7),
    "blue-btn" : rgba(88, 124, 216, 0.7),
    "black-btn": rgba(0, 0, 0, 0.7),
);



$nav-bar-heght: 3em;