
.body-container {
    padding: 2em 2em 2em 2em;
}

.content-container {
    display: grid;
    grid-template-columns: 5em auto;
    grid-gap: 0 2em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.audit-container {
    margin: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
}