
.base-styled-btn {
  height: 2em;
  width: 6em;
  background-color: rgba(88, 124, 216, 0.7);
  border: none;
  border-radius: 0.7em;
}

.theme-change-btn {
  height: 2em;
  width: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1em;
  border: none;
}

.left-side-bar-btn {
  height: 2em;
  width: 2em;
  background-color: rgba(88, 124, 216, 0.7);
  border: none;
}