@import 'variables.scss';

.base-styled-btn {
  height: 2em;
  width: 6em;
  background-color: map-get($base-colors,  pink-btn );
  border: none;
  border-radius: 0.7em;
}

.theme-change-btn {
  height: 2em;
  width: 2em;
  background-color: map-get($base-colors, black-btn );
  border-radius: 1em;
  border: none;
}

.left-side-bar-btn {
  height: 2em;
  width: 2em;
  background-color: map-get($base-colors, pink-btn );
  border: none;
  border-radius: 0.3em;
}

.black-btn {
  background-color: map-get($base-colors, black-btn );
}