@import 'variables.scss';

.header {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 0 2em;
}

.header-nav-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  
  height: $nav-bar-heght;

  background-color: rgba(201, 229, 255, 0.4);
  border-radius: calc( (#{$nav-bar-heght} * 2) / 3);
}

.header-nav-bar-item
{
  display: flex;
  column-gap: 2em;

}

.left-side {
  background-color: transparent;
  justify-self: center;
}

.right-side {
  background-color: transparent;
  justify-self: end;
  margin-right: 1em;
}