@import 'variables.scss';

.left-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: $nav-bar-heght;
    height: calc(100vh - #{$nav-bar-heght} - 12em);

    background-color: map-get($base-colors, base-blue );
    border-radius: calc( (#{$nav-bar-heght} * 2) / 3);

}

.upper-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    gap: 1em 0;
}

.down-bar {
    padding-bottom: 2em;
}

.upper-bar #left-side-menu-circle {
    fill: map-get($base-colors, pink-btn );
}